*.ncb
*.suo
*.vcxproj
*.sln
*.vcproj.*
*.vcxproj.*
*.sdf
*.opensdf
*/ipch/*
*/build/*
*.lua.bin
*.lua.bin.h
compiler/bin
compiler/obj
compiler/libs/fparsec/Build/VS11/bin
compiler/libs/fparsec/Build/VS11/obj
